<% provide(:title, "Iniciar sesion") %>
<br>
<br>
<br>
  <div class="row">
    <div class="col-md-8 col-lg-offset-2">
      <div class="widget wred">
        <div class="widget-head">
          <i class="fa fa-user"></i> Iniciar sesion
        </div>
        <div class="widget-content">
          <div class="padd">
               <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>

            <%= form_for(:session, url: login_path, html: { class: "form-horizontal" }) do |f| %>
            <div class="form-group">
              <label class="control-label col-md-2" for="sitename">Email</label>
              <div class="col-md-9">
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="sitename">Documento o password</label>
              <div class="col-md-9">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-lg-offset-2">
                <%= f.submit "Iniciar Sesion", class: "btn btn-success" %>
              </div>
            </div>   
            <div class="form-group">
              <div class="col-md-9 col-lg-offset-2">
                <a href="#">Olvidaste tu contraseña?</a>
              </div>
            </div>            
            <% end %>



          </div>

        </div>
      <div class="widget-foot">
      </div>
      </div>
    </div>
  </div>
