<% provide(:title, 'Agendar cortesia') %>
<div class="page-head">
        <h2 class="pull-left"><i class="fa fa-child"></i> Agendar cortesia</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-child"></i> Home</a> 
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Agendar cortesia</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="matter">
      <div class="container">
<div class="row">
	<div class="col-md-10 col-lg-offset-1">
        <div class="widget">
                <div class="widget-head">
                  <div class="pull-left"><i class="fa fa-eye"></i> Agendar cortesia</div>
                 
                  <div class="clearfix"></div>
                </div>
            	<div class="widget-content">
                	<div class="padd">
                    		<div class="form quick-post">
                       <%= form_for(:courtesie,url:courtesie_create_path, html: { class: "form-horizontal" } ) do |f| %>
												  <div class="form-group">
													<label class="control-label col-md-2" for="sitename"> Nombre cortesia
													</label>
													<div class="col-md-9">
													  <%= f.text_field :name, class: 'form-control' %>
													</div>
												  </div> 

												  <div class="form-group">
													<label class="col-lg-2 control-label" for="sitename"> Fecha cortesia</label>

													<div class="col-lg-10">
<%= f.datetime_select :start_hour, { :order => [:month, :day, :year, :hour, :minute], :prompt => { :day => 'Dia', :month => 'Mes', :year => 'Ano', :hour => 'Hora', :minute => 'Minuto' } }, {:class => "form-control", :style => "display: inline-block;
    width: auto;
    vertical-align: middle;"}  %>
													</div>
													
												  </div> 
												  
												  <div class="form-group">
													<label class="control-label col-md-2" for="sitename"> Telefono </label>
													<div class="col-md-5">
													  <%= f.number_field :phone, class: 'form-control' %>
													</div>
												  </div>
												  <div class="form-group">
													<label class="control-label col-md-2" for="sitename"> Email </label>
													<div class="col-md-5">
													  <%= f.text_field :email, class: 'form-control' %>
													</div>
												  </div> 
												  <div class="form-group">
													 <div class="col-lg-9 col-lg-offset-2">
													 <%= f.submit "Guardar", class: "btn btn-primary" %>
														<button type="reset" class="btn btn-default">Reiniciar</button>
													 </div>
												  </div>
									  <% end %>
                            </div>
            		</div>
		            <div class="widget-foot">
			           
		            </div>
        		</div>
        </div>		
    </div>
</div>

