.page-head
  %h2.pull-left
    %i.fa.fa-user
    Crear usuario
  .bread-crumb.pull-right
    %a{:href => "/"}
      %i.fa.fa-user
      Home
    %span.divider /
    %a.bread-current{:href => "#"} Crear usuario
  .clearfix
.matter
  .container
    .row
      .col-md-10.col-lg-offset-1
        -if @user.errors.any?
          .widget
            .alert.alert-danger
              %h4
                %i.fa.fa-ban
                %strong 
                  Tienes 
                  =@user.errors.count
                  errores
            %ul
              -@user.errors.values.each do |myerror|
                %li
                  =myerror.to_sentence
        .widget.wred
          .widget-head
            %i.fa.fa-user
            Crear usuario
          .widget-content
            .padd
              - provide(:title, 'Crear usuarios')
              = form_for(@user, html: { class: "form-horizontal", multipart: true }) do |f|
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"} Nombre
                  .col-md-9
                    = f.text_field :name, class: 'form-control'
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"}
                    Email
                  .col-md-9
                    = f.email_field :email, class: 'form-control'
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"}
                    Documento
                  .col-md-9
                    = f.text_field :document, class: 'form-control'
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"}
                    Telefono
                  .col-md-9
                    = f.text_field :phone, class: 'form-control'
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"}
                    Plan
                  .col-md-6
                    %select.form-control{:name => "user[plan_id]"}
                      - @plans.each do |plan|
                        %option{:value => "#{plan.id}"}
                          = plan.name
                          | $#{plan.price} COP
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"} Password
                  .col-md-6
                    = f.password_field :password, class: 'form-control'
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"} Confirmacíon
                  .col-md-6
                    = f.password_field :password_confirmation, class: 'form-control'
                .form-group
                  %label.control-label.col-md-2{:for => "sitename"} Avatar
                  .col-md-6
                    = f.file_field :avatar, id:'user_avatar'
                .form-group
                  / Buttons
                  .col-lg-9.col-lg-offset-2
                    = f.submit "Crear usuario", class: "btn btn-primary"
                    %a.btn.btn-default{:href => users_path} Cancelar
          .widget-foot
    :javascript
      $('#user_avatar').fileinput(
        {
      uploadUrl: '#',
      language: 'es',
      "showCaption":false,
      "showRemove":false,
      "showUpload":false,
      "browseClass":"btn btn-primary btn-block",
      "browseIcon":"\u003Ci class=\u0022fa fa-camera\u0022\u003E\u003C\/i\u003E ",
      "browseLabel":"<b>Selecciona una foto</b>",
      "purifyHtml":true,
      allowedFileExtensions : ['jpg', 'png','gif'],
      overwriteInitial: false,
      maxFileSize: 1000,
      maxFilesNum: 5,
      showUpload: false,
      allowedFileTypes: ['image', 'video', 'flash'],
      slugCallback: function(filename) {
      return filename.replace('(', '_').replace(']', '_');
      }
      }
      );
    - flash.each do |message_type, message|
      - if message_type == "warning"
        :javascript
          swal({
              title: "#{message}",
              text:  "",
              type: "#{message_type}",
              timer: 3000,
              showConfirmButton: false
           })
