<div class="page-head">
        <h2 class="pull-left"><i class="fa fa-user"></i> Crear usuario</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-user"></i> Home</a> 
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Crear usuario</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="matter">
      <div class="container">
   <div class="row">
  	<div class="col-md-10 col-lg-offset-1">
            <div class="widget wred">
              <div class="widget-head">
                <i class="fa fa-user"></i> Crear usuario 
              </div>
              <div class="widget-content">
                <div class="padd">
        				<% provide(:title, 'Crear usuarios') %>

        			    <%= form_for(@user, html: { class: "form-horizontal", multipart: true }) do |f| %>
        			      <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Nombre</label>
                          <div class="col-md-9">
        			      <%= f.text_field :name, class: 'form-control' %>
                          </div>
                    </div>
                    <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Email
                          </label>
                          <div class="col-md-9">
        			      <%= f.email_field :email, class: 'form-control' %>
                          </div>
                    </div>
                    <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Documento
                          </label>
                          <div class="col-md-9">
                    <%= f.text_field :document, class: 'form-control' %>
                          </div>
                    </div>
                    <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Telefono
                          </label>
                          <div class="col-md-9">
                    <%= f.text_field :phone, class: 'form-control' %>
                          </div>
                    </div>

                    <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Plan
                          </label>
                          <div class="col-md-6">
                          <select class="form-control" name="user[plan_id]">
                          <% @plans.each do |plan| %>
                            <option value="<%= plan.id %>"><%= plan.name %> | $<%= plan.price %> COP</option>
                          <% end %>
                          </select>
                          </div>
                          
                    </div>

                    <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Password</label>
                          <div class="col-md-6">
        			      <%= f.password_field :password, class: 'form-control' %>
                          </div>
                    </div>
                    <div class="form-group">
                          <label class="control-label col-md-2" for="sitename">Confirmacíon</label>
                          <div class="col-md-6">
        			      <%= f.password_field :password_confirmation, class: 'form-control' %>

                  
                          </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-2" for="sitename">Avatar</label>
                      <div class="col-md-6">
                        <%= f.file_field :avatar, id:'user_avatar' %>
                      </div>
                    </div>
                    <div class="form-group">
                           <!-- Buttons -->
                           <div class="col-lg-9 col-lg-offset-2">
        			      <%= f.submit "Crear usuario", class: "btn btn-success" %>
                            <a class="btn btn-default" href="<%= users_path %>">Cancelar</a>
                           </div>
                    </div>
        			    <% end %>
    			      </div>
              </div>
              <div class="widget-foot">
                 
              </div>
            </div>
   </div>                
  </div> 
<script type="text/javascript">
  $('#user_avatar').fileinput(
    {
  uploadUrl: '#',
  language: 'es',
  "showCaption":false,
  "showRemove":false,
  "showUpload":false,
  "browseClass":"btn btn-primary btn-block",
  "browseIcon":"\u003Ci class=\u0022fa fa-camera\u0022\u003E\u003C\/i\u003E ",
  "browseLabel":"<b>Selecciona una foto</b>",
  "purifyHtml":true,
  allowedFileExtensions : ['jpg', 'png','gif'],
  overwriteInitial: false,
  maxFileSize: 1000,
  maxFilesNum: 5,
  showUpload: false,
  allowedFileTypes: ['image', 'video', 'flash'],
  slugCallback: function(filename) {
  return filename.replace('(', '_').replace(']', '_');
  }
  }
  // {,"browseClass":"btn btn-primary btn-block","browseIcon":"\u003Ci class=\u0022glyphicon glyphicon-camera\u0022\u003E\u003C\/i\u003E ",,"language":"en","purifyHtml":true}
  );
</script>
  <% flash.each do |message_type, message| %>
  <% if message_type == "warning" %>
  <script>
  swal({
      title: "<%= message %>",
      text:  "",
      type: "<%= message_type %>",
      timer: 3000,
      showConfirmButton: false
   })
  </script>
  <% end %>
<% end %> 
