<div class="page-head">
        <h2 class="pull-left"><i class="fa fa-thumbs-up"></i> Asistencia</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-thumbs-up"></i> Home</a> 
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Asistencia</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="matter">
      <div class="container">

<div class="row">
  <div class="col-md-4">
  <div class="widget">
    <div class="widget-head">
                  <div class="pull-left">Precios en btc-e</div>  
                  <div class="clearfix"></div>
                </div>
    <div class="widget-content referer">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                    <tbody><tr>
                      <th>Nombre</th>
                      <th>Precio</th>
                     </tr>
                    <tr>
                      <td>Vamos a comprar a  </td>
                      <td>$<%= @compra %></td>
                     </tr>
                    <tr>
                      <td>Vamos a vender a</td>
                      <td>$<%= @venta %></td>
                     </tr>
                     
                     
                    </tbody></table>
                  </div>
                  <div class="clearfix"></div>  

                  <div class="widget-foot">
                  </div>

                </div>
 
    </div>  


    <div class="widget">
    <div class="widget-head">
                  <div class="pull-left">Precios en btc-e</div>  
                  <div class="clearfix"></div>
                </div>
    <div class="widget-content referer">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                    <tbody><tr>
                      <th>Nombre</th>
                      <th>Precio</th>
                     </tr>
                    <tr>
                      <td>Buy</td>
                      <td>$<%= @price.buy%></td>
                     </tr>
                    <tr>
                      <td>Sell</td>
                      <td>$<%= @price.sell%></td>
                     </tr>
                    <tr>
                      <td>Ultimo precio</td>
                      <td><%= @price.last%></td>
                     </tr>
                     
                    </tbody></table>
                  </div>
                  <div class="clearfix"></div>  

                  <div class="widget-foot">
                  </div>

                </div>
 
     
    </div>  
              
  </div>
  <div class="col-md-8">
    <div class="widget">
    <div class="widget-head">
                  <div class="pull-left">Transacciones pendientes</div>  
                  <div class="clearfix"></div>
                </div>
    <div class="widget-content referer">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                    <tbody><tr>
                      <th>#</th>
                      <th>Pair</th>
                      <th>Type</th>
                      <th>Amount</th>
                      <th>Rate</th>
                     </tr>
                     <% id = @cuenta_orders["return"].to_s.split('"')[1] %>
                     <% if id.present? %>
                    <tr>
                      <td>1</td>
                      <td><%= @cuenta_orders['return'][id]['pair'] %></td>
                      <td><%= @cuenta_orders['return'][id]['type'] %></td>
                      <td><%= @cuenta_orders['return'][id]['amount'] %></td>
                      <td><%= @cuenta_orders['return'][id]['rate'] %></td>
                    </tr>  
                    <%end%>                   
                    </tbody>
                    </table>
                  </div>
                  <div class="clearfix"></div>  

                  <div class="widget-foot">
                  </div>

                </div>
    </div>  
    <div class="widget">
    <div class="widget-head">
                  <div class="pull-left">Operacion final</div>  
                  <div class="clearfix"></div>
                </div>
    <div class="widget-content referer">
                  <%= @trade %>

                </div>
                
  </div>
</div>
<script type="text/javascript">
  <% if Time.now.wday == 0 %>
  document.getElementById("calendar-<%= (Time.now.next_week.wday).to_i - 1  %>").className += " in active";
  document.getElementById("li-calendar-<%= (Time.now.next_week.wday).to_i - 1  %>").className += " active";
  <% else %>
  document.getElementById("calendar-<%= (Time.now.wday).to_i - 1  %>").className += " in active";
  document.getElementById("li-calendar-<%= (Time.now.wday).to_i - 1  %>").className += " active";
  <% end %>
</script>
<% flash.each do |message_type, message| %>
  <% if message_type == "success" %>
  <script>
  swal({
      title: "<%= message %>",
      text:  "",
      type: "<%= message_type %>",
      timer: 3000,
      showConfirmButton: false
   })
  </script>
  <% end %>
  <% if message_type == "warning" %>
  <script>
  swal({
      title: "<%= message %>",
      text:  "",
      type: "<%= message_type %>",
      timer: 3000,
      showConfirmButton: false
   })
  </script>
  <% end %>
<% end %>
