 <div class="page-head">
        <h2 class="pull-left"><i class="fa fa-thumbs-up"></i> Agendar mis sesiónes</h2>
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-thumbs-up"></i> Home</a> 
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Agendar mis sesiónes</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="matter">
      <div class="container">

<div class="row">
  <div class="col-md-8 col-lg-offset-2">
    <div class="widget">
    <% provide(:title, 'Calendario') %>

                <div style="display: none"><%=  Time.now.wday %></div>
                <div class="widget-head">

                  <% if Time.now.wday == 0 %>
                  <div class="text-center"> 
                    <i class="fa fa-calendar"></i>
                    Clases semana del <%= Time.now.next_week.beginning_of_week.strftime("%d/%m/%Y") %> a <%= Time.now.next_week.end_of_week.strftime("%d/%m/%Y") %>
                  </div>
                  <% else %>
                  <div class="text-center"> 
                    <i class="fa fa-calendar"></i>
                    Clases semana del <%= Time.now.beginning_of_week.strftime("%d %b %Y") %> a <%= Time.now.end_of_week.strftime("%d %b %Y") %>
                  </div>
                  <% end %>
                 
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd invoice">
                    
                    <div class="row">

                      <div class="col-md-8">
                        
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                      <% if Time.now.wday == 0 %>
                      <ul id="myTab" class="nav nav-tabs">
                        <li id="li-calendar-0"><a href="#calendar-0" data-toggle="tab">Lunes <%= (Time.now.next_week.beginning_of_week).strftime("%d") %></a></li>
                        <li id="li-calendar-1"><a href="#calendar-1" data-toggle="tab">Martes <%= (Time.now.next_week.beginning_of_week + 1.days).strftime("%d") %></a></li>
                        <li id="li-calendar-2"><a href="#calendar-2" data-toggle="tab">Miercoles <%= (Time.now.next_week.beginning_of_week + 2.days).strftime("%d") %></a></li>
                        <li id="li-calendar-3"><a href="#calendar-3" data-toggle="tab">Jueves <%= (Time.now.next_week.beginning_of_week + 3.days).strftime("%d") %></a></li>
                        <li id="li-calendar-4"><a href="#calendar-4" data-toggle="tab">Viernes <%= (Time.now.next_week.beginning_of_week + 4.days).strftime("%d") %></a></li>
                        <li id="li-calendar-5"><a href="#calendar-5" data-toggle="tab">Sabado <%= (Time.now.next_week.beginning_of_week + 5.days).strftime("%d") %></a></li>
                      </ul>
                      <% else %>
                      <ul id="myTab" class="nav nav-tabs" >
                        <li id="li-calendar-0" ><a href="#calendar-0" data-toggle="tab">Lunes <%= (Time.now.beginning_of_week).strftime("%d") %></a></li>
                        <li id="li-calendar-1"><a href="#calendar-1" data-toggle="tab">Martes <%= (Time.now.beginning_of_week + 1.days).strftime("%d") %></a></li>
                        <li id="li-calendar-2"><a href="#calendar-2" data-toggle="tab">Miercoles <%= (Time.now.beginning_of_week + 2.days).strftime("%d") %></a></li>
                        <li id="li-calendar-3"><a href="#calendar-3" data-toggle="tab">Jueves <%= (Time.now.beginning_of_week + 3.days).strftime("%d") %></a></li>
                        <li id="li-calendar-4"><a href="#calendar-4" data-toggle="tab">Viernes <%= (Time.now.beginning_of_week + 4.days).strftime("%d") %></a></li>
                        <li id="li-calendar-5"><a href="#calendar-5" data-toggle="tab">Sabado <%= (Time.now.beginning_of_week + 5.days).strftime("%d") %></a></li>
                      </ul>
                      <% end %>
                      


                      <div id="myTabContent" class="tab-content">
                    <% @days.each_with_index do |lesson, index| %>
                    
                     <div class="tab-pane fade" id="calendar-<%=index%>">
                    <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                    <thead>
                   <tr>
                     <th class="hidden-xs">#</th>
                    <th>Hora</th>
                     <th>Nombre</th>
                     <th class="hidden-xs">Inscritos</th>
                     <th></th>
                     </tr>
                    </thead>    
                     <tbody>              
                      <% lesson.each do |less| %>  
                      <% if (less.start_date.strftime("%k:%M") >= current_user.plan.start_hour.to_time.strftime("%k:%M")) && (less.start_date.strftime("%k:%M") <= current_user.plan.end_hour.to_time.strftime("%k:%M"))  %>                             
                       <tr>
                       <%= form_for :schedule do |f| %>
                       <%= f.hidden_field(:lesson_id, :value => less.id) %>
                       <%= f.hidden_field(:user_id, :value => current_user.id) %>
                       <%= f.hidden_field(:users_allowed, :value => less.users_allowed) %>
                        <%= f.hidden_field(:users_enrolled, :value => less.users_enrolled) %>
                       <td class="hidden-xs"><%= less.id %></td>
                        <td><%= (less.start_date.strftime("%k:%M")) %></td>
                        <td>
                          <%= link_to(less.name, less) %>
                          <span class="visible-xs"><b>Inscritos: <%= less.users_enrolled %></b>
                          </span>
                        </td>
                        <td class="hidden-xs">
                          <% less.users_enrolled.to_i.times do |users| %>
                            <i class="fa fa-user"></i>
                          <%end%>
                        </td>
                       <td align="center">
                       <% unless @arr_lessons_user.include?(less.id) %>
                        <%= (f.submit "Agendar", class: "btn btn-success")   %>
                        <% else %>
                        <%= f.hidden_field(:delete, :value => 1) %>
                        <%= (f.submit "Cancelar", class: "btn btn-default")   %>
                         <% end %>
                       </td>
                     </tr>  
                     <%end%>
                    <%end%>
                    <% end %>  
                    
                     </tbody>
                     </table>
                       </div>
                      </div>
                      <% end %>
                     </div>
                        <hr />
                                                
                      </div>
                    </div>

                  </div>
                  <div class="widget-foot">
                    <div class="clearfix"></div>
                  </div>
                </div>
    </div>  
              
  </div>
</div>
<script type="text/javascript">
  <% if Time.now.wday == 0 %>
  document.getElementById("calendar-<%= (Time.now.next_week.wday).to_i - 1  %>").className += " in active";
  document.getElementById("li-calendar-<%= (Time.now.next_week.wday).to_i - 1  %>").className += " active";
  <% else %>
  document.getElementById("calendar-<%= (Time.now.wday).to_i - 1  %>").className += " in active";
  document.getElementById("li-calendar-<%= (Time.now.wday).to_i - 1  %>").className += " active";
  <% end %>
</script>
<% flash.each do |message_type, message| %>
  <% if message_type == "success" %>
  <script>
  swal({
      title: "<%= message %>",
      text:  "",
      type: "<%= message_type %>",
      timer: 3000,
      showConfirmButton: false
   })
  </script>
  <% end %>
  <% if message_type == "warning" %>
  <script>
  swal({
      title: "<%= message %>",
      text:  "",
      type: "<%= message_type %>",
      timer: 3000,
      showConfirmButton: false
   })
  </script>
  <% end %>
<% end %>
 