<% provide(:title, "Admin Estadisticas") %>

<div class="col-md-12">

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">Estadisticas periodo <%= Time.now.beginning_of_month.strftime("%d/%m/%Y") %> Hasta <%= Time.now.end_of_month.strftime("%d/%m/%Y") %></div>
                 
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd statement">
                    
                    <div class="row">

                      <div class="col-md-4  text-center">
                        <div class="well">
                          <h2><%= @users_active.count %></h2>
                          <p>Usuarios activos</p>
                        </div>
                      </div>

                      <div class="col-md-4  text-center">
                      <div class="well">
                          <h2>
                          
                          <%= @num_morning.count %>
                          </h2>
                          <p>Sesiones dictadas en la mañana</p>
                        </div>
                        
                      </div>
 
                      <div class="col-md-4  text-center">
                        <div class="well">
                          <h2><%= @lessons_evening.count  %></h2>
                          <p>Sesiones dictadas en la tarde</p>                        
                        </div>
                      </div>

                      
                    </div>
                    <div class="row">

                      <div class="col-md-4  text-center">
                        <div class="well">
                          <h2><%= @users_new.count %></h2>
                          <p>Usuarios Nuevos este mes (<a  href="#"  data-toggle="modal" data-target="#myModalNewUsers">VER</a>)</p>
                        </div>
                      </div>

                      <div class="col-md-4  text-center">
                        <div class="well">

                          <h2><%= @users_total.count %></h2>
                          <p>Total usuarios creados (<a  href="#"  data-toggle="modal" data-target="#myModal">VER</a>)</p>
                        </div>
                      </div>
 
                      <div class="col-md-4  text-center">
                        
                        <div class="well">
                          <h2><%= @lessons_morning.count  %></h2>
                          <p>Sesiones dictadas este mes (<a  href="#"  data-toggle="modal" data-target="#myModalSesionsMonth">VER</a>)</p>                        
                        </div>
                      </div>

                      
                    </div>

                    <div class="row">

                      <div class="col-md-6">
                      	<hr />
                      	<h4>Usuarios activos este mes</h4>
                        <hr />
            <div class="padd">
            <div class="page-tables">
						<div class="table-responsive">
							<table class="table table-striped table-hover table-responsive table-bordered" id="data-table-1">
							  <thead>
								<tr>
								  <th>#</th>
								  <th>Nombre</th>
								  <th>Ultima visita</th>
								  <th>Sesiones</th>
								</tr>
							  </thead>
							  <tbody>
								<% @users_active.each_with_index do |user, index| %>
									
								<tr>
								  <td><%= index +1 %></td>
								  <td><%= link_to user.name, user %></td>
								  <td><%= user.last_login.strftime("%d/%m/%Y") %></td>
								  <td><%= user.lessons %></td>
								</tr>   
								<% end %>

							
								
							  </tbody>
							</table>
						</div>
            </div>
            </div>
                      </div>
                      <div class="col-md-6">
                      	<hr />
                        <h4>Cortesias este mes</h4>
                        <hr />
            <div class="padd">
            <div class="page-tables">
            <div class="table-responsive">
              <table class="table table-striped table-hover table-responsive table-bordered" id="data-table-2">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Dia de cortesia</th>
                </tr>
                </thead>
                <tbody>
                <% @courtesis_month.each_with_index do |user, index| %>
                  
                <tr>
                  <td><%= index +1 %></td>
                  <td><%= user.name %></td>
                  <td><%= user.start_hour.strftime("%d/%m/%Y %k:%M") %></td>
                </tr>   
                <% end %>

              
                
                </tbody>
              </table>
            </div>
            </div>
            </div>
                      </div>

                    </div>

                  </div>
                  <div class="widget-foot">
					
					
					<div class="clearfix"></div>
					
                  </div>
                </div>
              </div>  
              
            </div>



<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 4%">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Total usuarios creados</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
      <table  class="table table-striped table-hover table-responsive table-bordered">
      <thead>
      <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Plan</th>
      </tr>
      </thead>
      <tbody>
       <% @users_total.each do |userT| %>
        <tr>
          <td><%= userT.id %></td>
          <td><%= userT.name %></td>
          <td><%= userT.email %></td>
          <td><%= userT.plan ? (userT.plan.name) : ('No asignado') %></td>
        </tr>
        <%end%>
      </tbody>
      </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="myModalNewUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 4%">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Usuarios nuevos</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
      <table  class="table table-striped table-hover table-responsive table-bordered">
      <thead>
      <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Plan</th>
      </tr>
      </thead>
      <tbody>
       <% @users_new.each do |userT| %>
        <tr>
          <td><%= userT.id %></td>
          <td><%= userT.name %></td>
          <td><%= userT.email %></td>
          <td><%= userT.plan.name %></td>
        </tr>
        <%end%>
      </tbody>
      </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="myModalSesionsMonth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 4%">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Usuarios nuevos</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
      <table  class="table table-striped table-hover table-responsive table-bordered">
      <thead>
      <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Inscritos</th>
      <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
       <% @lessons_morning.each do |lessons| %>
        <tr>
          <td><%= lessons.id %></td>
          <td><%= lessons.name %></td>
          <td><%= lessons.users_enrolled %></td>
          <td><%= lessons.start_date %></td>
        </tr>
        <%end%>
      </tbody>
      </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 100);
            //return 0;
        };
        var randomColorFactor = function() {
            return Math.round(Math.random() * 255);
        };
        var randomColor = function(opacity) {
            return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
        };

        var config = {
            type: 'line',
            data: {
                xLabels: ["Mayo", "Junio", "Julio"],
                yLabels: ['10','9','8','7','6','5','4','3','2','1','0'],
                datasets: [{
                    label: "My primera",
                    data: ['0', '5', '4'],
                    fill: true,
                    
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Mis clases por mes'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Mes'
                        }
                    }],
                    yAxes: [{
                        type: 'category',
                        position: 'left',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Clases agendadas'
                        },
                        ticks: {
                            reverse: true
                        }
                    }]
                }
            }
        };

        $.each(config.data.datasets, function(i, dataset) {
        	dataset.type = 'line';

            dataset.borderColor = "#F45D01";
            /*dataset.backgroundColor = randomColor(0.5);
            dataset.pointBorderColor = randomColor(0.7);
            dataset.pointBackgroundColor = randomColor(0.5);
            dataset.pointBorderWidth = 3;*/

            dataset.borderJoinStyle = 'miter';
        });

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
  $('#data-table-2').dataTable({
     "sPaginationType": "full_numbers",
     "pageLength": 5,
     "order": [[ 2, "desc" ]],
     "language": {
                "search": "Buscar: ",
                "lengthMenu":     "Mostrar _MENU_ resultados",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ resultados",
                "infoEmpty":      "Mostrando 0 a 0 de 0 resultados",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Ultimo",
                    "next":       "Siguiente",
                    "previous":   "Anterior",
                    
                }
            }
  });
});
    </script>
