!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title)
      | Fitness Studio
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico', type: 'image/png'
    = stylesheet_link_tag    'application', media: 'all', |
      'data-turbolinks-track': 'reload'                   |
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "http://#{request.host}:#{request.port}/js/bootstrap.min.js"}
    / Bootstrap
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery-ui.min.js"}
    / jQuery UI
    %script{:src => "http://#{request.host}:#{request.port}/js/fullcalendar.min.js"}
    / Full Google Calendar - Calendar
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.rateit.min.js"}
    / RateIt - Star rating
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.prettyPhoto.js"}
    / prettyPhoto
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.slimscroll.min.js"}
    / jQuery Slim Scroll
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.dataTables.min.js"}
    / Data tables
    / jQuery Flot
    %script{:src => "http://#{request.host}:#{request.port}/js/excanvas.min.js"}
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.flot.js"}
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.flot.resize.js"}
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.flot.pie.js"}
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.flot.stack.js"}
    / jQuery Notification - Noty
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.noty.js"}
    / jQuery Notify
    %script{:src => "http://#{request.host}:#{request.port}/js/themes/default.js"}
    / jQuery Notify
    %script{:src => "http://#{request.host}:#{request.port}/js/layouts/bottom.js"}
    / jQuery Notify
    %script{:src => "http://#{request.host}:#{request.port}/js/layouts/topRight.js"}
    / jQuery Notify
    %script{:src => "http://#{request.host}:#{request.port}/js/layouts/top.js"}
    / jQuery Notify
    / jQuery Notification ends
    %script{:src => "http://#{request.host}:#{request.port}/js/sparklines.js"}
    / Sparklines
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.cleditor.min.js"}
    / CLEditor
    %script{:src => "http://#{request.host}:#{request.port}/js/bootstrap-datetimepicker.min.js"}
    / Date picker
    %script{:src => "http://#{request.host}:#{request.port}/js/jquery.onoff.min.js"}
    / Bootstrap Toggle
    %script{:src => "http://#{request.host}:#{request.port}/js/filter.js"}
    / Filter for support page
    %script{:src => "http://#{request.host}:#{request.port}/js/custom.js"}
    / Custom codes
    %script{:src => "http://#{request.host}:#{request.port}/js/charts.js"}
    / Charts & Graphs
    %script{:src => "http://#{request.host}:#{request.port}/js/fileinput/fileinput.min.js"}
    %script{:src => "http://#{request.host}:#{request.port}/js/fileinput/es.js"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
  %body
    .navbar.navbar-fixed-top.bs-docs-nav.hidden-xs{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle.btn-navbar{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span Menu
          %a.navbar-brand.hidden-lg{:href => "index.html"}
        %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
          %ul.nav.navbar-nav
          %ul.nav.navbar-nav.pull-right
            -if logged_in?
              %li.dropdown.pull-right
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-user
                  = current_user.email if logged_in?
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to '<i class="fa fa-user"></i> Mi Perfil'.html_safe, edit_user_path(current_user)
                  / <li><a href="#"><i class="fa fa-cogs"></i> Configuracion</a></li>
                  %li= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path if logged_in?
                  %li= link_to '<i class="fa fa-sign-in"></i> Iniciar sesión'.html_safe, login_path if !logged_in?
    = render 'layouts/header'
    .content
      .sidebar
        .hidden-xs
          .sidebar-dropdown
            %a{:href => "#"} Menu
          - if logged_in? && current_user.admin?
            %ul#nav
              %li{:class => "#{active_class("/users/#{current_user.id}")}"}= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user
              / %li{:class => "#{active_class("/puntos")}"}= link_to '<i class="fa fa-bell"></i> Puntos'.html_safe, puntos_path
              %li{:class => "has_sub #{active_class('/admin/estadisticas')}"}
                %a{:href => "#"}
                  %i.fa.fa-area-chart
                  Estadisticas
                  %span.pull-right
                    %i.fa.fa-chevron-right
                %ul
                  %li= link_to 'Estdisticas Generales'.html_safe, admin_estadisticas_path
                  / <li><haml_loud> link_to &#39;Tendencias&#39;, admin_estadisticas_tendencias_path </haml_loud></li>
              %li{:class => "has_sub #{active_class('/cortesias')} #{active_class('/cortesias/nueva')}"}
                %a{:href => "#"}
                  %i.fa.fa-eye
                  Cortesias
                  %span.pull-right
                    %i.fa.fa-chevron-right
                %ul
                  %li= link_to 'Listar cortesias', cortesias_path
                  %li= link_to 'Agendar cortesia', cortesias_nueva_path
              / %li{:class => "has_sub #{active_class('/events')}"}
              /   %a{:href => "#"}
              /     %i.fa.fa-cloud
              /     Eventos
              /     %span.pull-right
              /       %i.fa.fa-chevron-right
              /   %ul
              /     %li= link_to 'Referidos', events_path
              %li{:class => "has_sub #{active_class('/lessons')} #{active_class('/lessons/new')}"}
                %a{:href => "#"}
                  %i.fa.fa-list-alt
                  Clases
                  %span.pull-right
                    %i.fa.fa-chevron-right
                %ul
                  / <li><haml_loud> link_to &#39;Listar clases&#39;, lessons_paginated_path.to_s + &#39;/1&#39; </haml_loud></li>
                  %li= link_to 'Listar clases', lessons_path
                  %li= link_to 'Crear clase', new_lesson_path
                  / <li><haml_loud> link_to &#39;Actualizar semana&#39;, actualizarC_path </haml_loud></li>
              %li{:class => "has_sub #{active_class('/assessments')} #{active_class('/users')} #{active_class('/users/new')}"}
                %a{:href => "#"}
                  %i.fa.fa-users
                  Usuarios
                  %span.pull-right
                    %i.fa.fa-chevron-right
                %ul
                  %li= link_to 'Listar Usuarios', users_path
                  %li= link_to 'Crear Usuario', new_user_path
                  / %li= link_to 'Valoraciones', assessments_path
              %li{:class => "has_sub #{active_class('/plans')}#{active_class('/plans/new')}"}
                %a{:href => "#"}
                  %i.fa.fa-tasks
                  Planes
                  %span.pull-right
                    %i.fa.fa-chevron-right
                %ul
                  %li= link_to 'Planes gym', plans_path
                  %li= link_to 'Crear plan', new_plan_path
              %li{:class => "#{active_class('/asistencia')}"}= link_to '<i class="fa fa-calendar"></i> Asistencia'.html_safe, asistencia_path
              %li.visible-xs= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path
          - elsif logged_in?
            %ul#nav
              %li{:class => "#{active_class("/users/#{current_user.id}")}"}= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user
              %li{:class => "#{active_class('/calendario')}"}= link_to '<i class="fa fa-thumbs-o-up"></i> Agendar clase'.html_safe, calendario_path
              %li{:class => "#{active_class('/estadisticas')}"}= link_to '<i class="fa fa-area-chart"></i> Estadisticas'.html_safe, estadisticas_path
              %li{:class => "#{active_class('/contactanos')}"}= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, contactanos_path
              %li.visible-xs= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path
          - else
            %ul#nav
              %li= link_to '<i class="fa fa-home"></i> Iniciar sesion'.html_safe, login_path
              %li= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, contactanos_path
        / ################ Menu app starts ##########
        .visible-xs.navbar.navbar-fixed-top
          .row
            .col-md-4
              .logo
                .col-xs-offset-3.visible-xs
                  = link_to image_tag("logoFStudio.svg", alt: "Fitness Studio", width: "200px", height: '90px', style:'padding:10px'), '#'
            .col-md-4
            .col-md-4
              .header-data
            .sidebar-dropdown
              %a{:href => "#"} Menu
            - if logged_in? && current_user.admin?
              %ul#nav
                %li{:class => "#{active_class("/users/#{current_user.id}")}"}= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user
                %li{:class => "has_sub #{active_class('/cortesias')} #{active_class('/cortesias/nueva')}"}
                  %a{:href => "#"}
                    %i.fa.fa-eye
                    Cortesias
                    %span.pull-right
                      %i.fa.fa-chevron-right
                  %ul
                    %li= link_to 'Listar cortesias', cortesias_path
                    %li= link_to 'Agendar cortesia', cortesias_nueva_path
                %li{:class => "has_sub #{active_class('/lessons')} #{active_class('/lessons/new')}"}
                  %a{:href => "#"}
                    %i.fa.fa-list-alt
                    Clases
                    %span.pull-right
                      %i.fa.fa-chevron-right
                  %ul
                    %li= link_to 'Listar clases', lessons_path
                    %li= link_to 'Crear clase', new_lesson_path
                    %li= link_to 'Actualizar semana', actualizarC_path
                %li{:class => "has_sub #{active_class('/users')}"}
                  %a{:href => "#"}
                    %i.fa.fa-users
                    Usuarios
                    %span.pull-right
                      %i.fa.fa-chevron-right
                  %ul
                    %li= link_to 'Listar Usuarios', users_path
                    %li= link_to 'Crear Usuario', new_user_path
                %li{:class => "has_sub #{active_class('/plans')}#{active_class('/plans/new')}"}
                  %a{:href => "#"}
                    %i.fa.fa-tasks
                    Planes
                    %span.pull-right
                      %i.fa.fa-chevron-right
                  %ul
                    %li= link_to 'Planes gym', plans_path
                    %li= link_to 'Crear plan', new_plan_path
                %li{:class => "#{active_class('/asistencia')}"}= link_to '<i class="fa fa-calendar"></i> Asistencia'.html_safe, asistencia_path
                %li.visible-xs= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path
            - elsif logged_in?
              %ul#nav
                %li{:class => "#{active_class("/users/#{current_user.id}/edit")} #{active_class("/users/#{current_user.id}")}"}= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user
                %li{:class => "#{active_class('/calendario')}"}= link_to '<i class="fa fa-thumbs-o-up"></i> Agendar clase'.html_safe, calendario_path
                %li{:class => "#{active_class('/estadisticas')}"}= link_to '<i class="fa fa-area-chart"></i> Estadisticas'.html_safe, estadisticas_path
                %li{:class => "#{active_class('/contactanos')}"}= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, contactanos_path
                %li.visible-xs= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path
            - else
              %ul#nav
                %li= link_to '<i class="fa fa-home"></i> Iniciar sesion'.html_safe, login_path
                %li= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, login_path
      .visible-xs
        %br/
        %br/
      .mainbar
        = yield
        - debug(params) if Rails.env.development?
    .clearfix
    = render 'layouts/footer'
