<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Elite Fitness Center - Colina plataforma</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="../js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="../js/jquery-ui.min.js"></script> <!-- jQuery UI -->
    <script src="../js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
    <script src="../js/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
    <script src="../js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->
    <script src="../js/jquery.slimscroll.min.js"></script> <!-- jQuery Slim Scroll -->
    <script src="../js/jquery.dataTables.min.js"></script> <!-- Data tables -->

    <!-- jQuery Flot -->
    <script src="../js/excanvas.min.js"></script>
    <script src="../js/jquery.flot.js"></script>
    <script src="../js/jquery.flot.resize.js"></script>
    <script src="../js/jquery.flot.pie.js"></script>
    <script src="../js/jquery.flot.stack.js"></script>

    <!-- jQuery Notification - Noty -->
    <script src="../js/jquery.noty.js"></script> <!-- jQuery Notify -->
    <script src="../js/themes/default.js"></script> <!-- jQuery Notify -->
    <script src="../js/layouts/bottom.js"></script> <!-- jQuery Notify -->
    <script src="../js/layouts/topRight.js"></script> <!-- jQuery Notify -->
    <script src="../js/layouts/top.js"></script> <!-- jQuery Notify -->
    <!-- jQuery Notification ends -->

    <script src="../js/sparklines.js"></script> <!-- Sparklines -->
    <script src="../js/jquery.cleditor.min.js"></script> <!-- CLEditor -->
    <script src="../js/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
    <script src="../js/jquery.onoff.min.js"></script> <!-- Bootstrap Toggle -->
    <script src="../js/filter.js"></script> <!-- Filter for support page -->
    <script src="../js/custom.js"></script> <!-- Custom codes -->
    <script src="../js/charts.js"></script> <!-- Charts & Graphs -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
<body>
<div class="navbar navbar-fixed-top bs-docs-nav hidden-xs" role="banner">
  <div class="container">
      <div class="navbar-header">
  		  <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
  			<span>Menu</span>
  		  </button>
  		  <a href="index.html" class="navbar-brand hidden-lg"></a>
		  </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         
        <ul class="nav navbar-nav">    
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown pull-right">            
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-user"></i><%= current_user.email if logged_in?%> <b class="caret"></b>              
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-user"></i> Mi perfil</a></li>
              <li><a href="#"><i class="fa fa-cogs"></i> Configuracion</a></li>
              <li><%= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path if logged_in? %></li>
              <li><%= link_to '<i class="fa fa-sign-in"></i> Iniciar sesión'.html_safe, login_path if !logged_in? %></li>
            </ul>
          </li>
        </ul>
      </nav>
  </div>
</div>
<%= render 'layouts/header' %>

<div class="content">
  <div class="sidebar">
   <div class="hidden-xs ">
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <% if logged_in? && current_user.admin? %>
        <ul id="nav">
          <li class="<%= active_class("/users/#{current_user.id}") %>"><%= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user %></li>
          <li class="has_sub <%= active_class('/cortesias') %>"><a href="#"><i class="fa fa-eye"></i> Cortesias  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Listar cortesias', cortesias_path %></li>
              <li><%= link_to 'Agendar cortesia', cortesias_nueva_path %></li>
            </ul>
          </li>
          <li class="has_sub <%= active_class('/cortesias') %>"><a href="#"><i class="fa fa-cloud"></i> Eventos  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Referidos', events_path %></li>
            </ul>
          </li>
          

          <li class="has_sub <%= active_class('/lessons') %>"><a href="#"><i class="fa fa-list-alt"></i> Clases  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Listar clases', lessons_path %></li>
              <li><%= link_to 'Crear clase', new_lesson_path %></li>
              <li><%= link_to 'Actualizar semana', actualizarC_path %></li>
            </ul>
          </li>

          <li class="has_sub <%= active_class('/users') %>"><a href="#"><i class="fa fa-users"></i> Usuarios  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Listar Usuarios', users_path %></li>
              <li><%= link_to 'Crear Usuario', new_user_path %></li>
            </ul>
          </li> 

          <li class="has_sub <%= active_class('/plans') %><%= active_class('/plans/new') %>"><a href="#"><i class="fa fa-tasks"></i> Planes  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Planes gym', plans_path %></li>
              <li><%= link_to 'Crear plan', new_plan_path %></li>
            </ul>
          </li> 
          <li class="<%= active_class('/asistencia') %>"><%= link_to '<i class="fa fa-calendar"></i> Asistencia'.html_safe, asistencia_path %></li>
          <li class="visible-xs"><%= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path %></li>

        </ul>
        <% elsif logged_in? %>
        <ul id="nav">
          <li class="<%= active_class("/users/#{current_user.id}") %>"><%= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user %></li>        
          <li class="<%= active_class('/calendario') %>"><%= link_to '<i class="fa fa-thumbs-o-up"></i> Agendar clase'.html_safe, calendario_path %></li>
          <li class="<%= active_class('/estadisticas') %>"><%= link_to '<i class="fa fa-area-chart"></i> Estadisticas'.html_safe, estadisticas_path %></li>
          <li class="<%= active_class('/contactanos') %>"><%= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, contactanos_path %></li>
          <li class="visible-xs"><%= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path %></li>
        </ul>

        <% else %>
        <ul id="nav">
          <li><%= link_to '<i class="fa fa-home"></i> Iniciar sesion'.html_safe, login_path %></li>
          <li><%= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, login_path %></li>
        </ul>
          
        <% end %>
    </div>
  <!--################ Menu app starts ##########-->
   <div class="visible-xs navbar navbar-fixed-top ">
    <div class="row ">
        <div class="col-md-4">
          <div class="logo">
          <div class="col-xs-offset-3 visible-xs">
            <%= link_to image_tag("2000.png", alt: "Elite Fitness logo", width: "150px"), '#' %>
          </div>

          </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="header-data">
                         
          </div>
        </div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <% if logged_in? && current_user.admin? %>
        <ul id="nav">
          <li class="<%= active_class("/users/#{current_user.id}") %>"><%= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user %></li>
          <li class="has_sub <%= active_class('/cortesias') %>"><a href="#"><i class="fa fa-eye"></i> Cortesias  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Listar cortesias', cortesias_path %></li>
              <li><%= link_to 'Agendar cortesia', cortesias_nueva_path %></li>
            </ul>
          </li>

          <li class="has_sub <%= active_class('/lessons') %>"><a href="#"><i class="fa fa-list-alt"></i> Clases  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Listar clases', lessons_path %></li>
              <li><%= link_to 'Crear clase', new_lesson_path %></li>
              <li><%= link_to 'Actualizar semana', actualizarC_path %></li>
            </ul>
          </li>

          <li class="has_sub <%= active_class('/users') %>"><a href="#"><i class="fa fa-users"></i> Usuarios  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Listar Usuarios', users_path %></li>
              <li><%= link_to 'Crear Usuario', new_user_path %></li>
            </ul>
          </li> 

          <li class="has_sub <%= active_class('/plans') %><%= active_class('/plans/new') %>"><a href="#"><i class="fa fa-tasks"></i> Planes  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul>
              <li><%= link_to 'Planes gym', plans_path %></li>
              <li><%= link_to 'Crear plan', new_plan_path %></li>
            </ul>
          </li> 
          <li class="<%= active_class('/asistencia') %>"><%= link_to '<i class="fa fa-calendar"></i> Asistencia'.html_safe, asistencia_path %></li>
          <li class="visible-xs"><%= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path %></li>

        </ul>
        <% elsif logged_in? %>
        <ul id="nav">
          <li class="<%= active_class("/users/#{current_user.id}") %>"><%= link_to '<i class="fa fa-home"></i> Inicio'.html_safe, current_user %></li>        
          <li class="<%= active_class('/calendario') %>"><%= link_to '<i class="fa fa-thumbs-o-up"></i> Agendar clase'.html_safe, calendario_path %></li>
          <li class="<%= active_class('/estadisticas') %>"><%= link_to '<i class="fa fa-area-chart"></i> Estadisticas'.html_safe, estadisticas_path %></li>
          <li class="<%= active_class('/contactanos') %>"><%= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, contactanos_path %></li>
          <li class="visible-xs"><%= link_to '<i class="fa fa-sign-out"></i> Cerrar sesión'.html_safe, logout_path %></li>
        </ul>

        <% else %>
        <ul id="nav">
          <li><%= link_to '<i class="fa fa-home"></i> Iniciar sesion'.html_safe, login_path %></li>
          <li><%= link_to '<i class="fa fa-smile-o"></i> Contactanos'.html_safe, login_path %></li>
        </ul>
          
        <% end %>
     </div>
    </div>
  </div>
  <div class="visible-xs">
    <br>
    <br>
  </div>


  	<div class="mainbar">
            

          <%= yield %>
          <% debug(params) if Rails.env.development? %>
        </div>
      </div>
      <!-- Matter ends -->
    </div>

   <!-- Mainbar ends -->        
   <div class="clearfix"></div>

</div>
<!-- Content ends -->
    <%= render 'layouts/footer' %>



  </body>
</html>